@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
 --main: #0a1128;
 --dark: #fefcfb;
 --blue: #001f54;
 --blue2: #034078;
 --cyan: #00ffff
}

html {
 background-color: var(--main);
 color: white;
 margin: 10px;
 font-family: "Poppins", sans-serif;;
}

.dv0 h1 {
 font-size: 50px;
 color: var(--cyan);
 text-align: center;
 margin-top: 50px;
 margin-bottom: 35px;
}

a {
 color: var(--cyan);
 font-weight: bold;
}

.dv p,
.dv, .dv0.text  {
 margin-top: 0px;
 font-size: 15px;
}
