@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
 --main: #0a1128;
 --dark: #fefcfb;
 --blue: #001f54;
 --blue2: #034078;
 --cyan: #00ffff;
}

html {
 background-color: var(--main);
 color: white;
}

.dv, .dv2{
 margin: 60px;
 border-radius: 15px;
 margin-top: 250px;
 text-align: cente;
 font-size: 25px;
 font-family: "Poppins", sans-serif;
}

.dv h1 strong, .dv2 h1 strong{
 color: var(--cyan);
}
.dv p, .dv2 p{
 text-align: justify;
}
hr {
 border: none;
 border-top: 1px solid #eeeeee;
}
